/226f2008-418f-401e-b7cc-4c582acbe967.jfif
/a.jpg
/animation.gif
/animation1.gif
/jari.jpeg
/megarob.png
/movinet_a0_base.tar.gz
/niels.png
/nielsj.jpg
/test3.py
/__pycache__
/UCF101_subset
/Splitted_data
/VIDEO_Depth
/VIDEO_RGB
/VIDEO_RGB_SUBSET
/VIDEO_Mask
/VIDEO_Skelet2D
/VIDEO_Skelet3D
/THETIS_Skeletal_Joints